* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::before *::after {
	box-sizing: border-box; 
}

body {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-style: normal; 
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h1 h2 h3 h4 h5 h6 {
	padding: 0;
	margin: 0;
}

input, textarea {
	outline:none;
}

input:active, textarea:active {
	outline:none;
}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer; 
}

.container {
	max-width: 1180px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding-top: 40px;
	padding-bottom: 32px;
}

.header-row {
	display: flex;
	align-items:center;
}

.logo {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: #222222;

}

.header-nav {
	margin-left: 242px;
}

.header-nav ul {
	display: flex;
}

.header-nav li {
	position: relative;
}

.header-nav li:not(:last-child) {
	margin-right: 60px;
}

.header-nav a {
	font-size: 16px;
	line-height: 155%;
	color: #222222;
	transition: color 0.2s ease; 
}

.header-nav li:not(:last-child)::after  {
	position: absolute;
	content: "";
	background-image: url("../img/down.svg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 2px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.header-login {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header-login > * + * {
	margin-left: 48px;
}

.header-login a {
	font-size: 16px;
	line-height: 155%;
	color: #222222
}

.btn, a.btn {
	display: inline-block;
	background: #086CF9;
	border-radius: 4px;
	min-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 12px 24px;
}

.btn-big, a.btn-big {
	min-height: 56px;
}

.hero {
	position: relative;
	padding-top: 199px;
	background-image: url("../img/bg-hero.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF; 
	min-height: 739px;
}

.hero:before {
	content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.54);
}

.hero-content {
	position: relative;
	z-index: 2;  
	max-width: 971px;
	margin-left: auto;
	margin-right: auto;
}

.hero-title {
	margin: 0;
	font-weight: 700;
	font-size: 56px;
	line-height: 73px;
	margin-bottom: 24px;
}

.hero-descr p {
	margin-bottom: 54px;
	text-align: center;
	font-size: 16px;
	line-height: 155%;
	color: #FFFFFF;
	max-width: 867px;
}

.hero-btn {
	display: inline-block;
	display: flex;
	width: 167px;
	justify-content: center;
	align-items: center;
	padding: 16px 30px;
	background: #086CF9;
	border-radius: 4px;
	color: #FFFFFF;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.hero-column {
	background: #FFFFFF;
	box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	position: relative;
	max-width:85%;
	z-index: 4; 
	top: 180px;
	margin-left: auto;
	margin-right: auto;
	padding: 56px 20px;
}

.hero-item {
	display: flex;
	align-items: center;
	justify-content: space-around; 
	flex-wrap: wrap;
}

.hero-list {
	display: flex;
	margin: 15px;
}

.hero-img img {
	display: block;
	min-height: 72px;
}

.hero-about {
	margin-left: 24px;
}

.hero-about h4 {
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 47px;
    color: #222222;
    margin-bottom: 8px;
}

.hero-about a {
	margin: 0;
	font-size: 16px;
	line-height: 155%;
	color: #086CF9;
}


.about {
	padding-top: 223px;
	padding-bottom: 64px;
}

.about-content {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.about-header {
	max-width: 519px;
}

.about-header h2 {
	margin: 0;
	margin-bottom: 24px;
	font-weight: bold;
	font-size: 48px;
	line-height: 62px;
	color: #222222;
}

.about-descr {
	margin: 0;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 155%;
	color: #555555;
}

.about-text {
	margin: 0;
	margin-bottom: 32px;
	font-size: 20px;
	line-height: 28px;
	color: #333333;
}

.about-btn {
	display: inline-block;
	background: #086CF9;
	border-radius: 4px;
	padding: 16px 32px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	max-width: 149px;
}

/* SERVICE */ 

.service {
	padding-top: 64px;
	padding-bottom: 128px;
}

.service-header {
	max-width: 423px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}

.service-header h2 {
	margin: 0;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 48px;
	line-height: 62px;
	color: #222222;
	text-align: center;
}

.service-header p {
	font-size: 16px;
	line-height: 155%;
	text-align: center;
	color: #555555;
}

.service-list {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: space-between; 
}

.service-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 22%;
}

.service-item img {
	display: block;
	min-height: 80px;
	max-width: 80px;
	margin: 0;
	margin-bottom: 24px;
}

.service-item h4 {
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: #222222;
	text-align: center;
	margin: 0;
	margin-bottom: 16px;

}

.service-item p {
	font-size: 14px;
	line-height: 155%;
	text-align: center;
	color: #555555;
}


/* COURSE */ 

.course {
	background-color: #ECF4FF; 
	padding-top: 60px;
	padding-bottom: 60px;
}

.course-header {
	max-width: 674px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}

.course-header h2 {
	margin: 0;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 48px;
	line-height: 62px;
	color: #222222;
	text-align: center;
}


.course-header p {
	font-size: 16px;
	line-height: 155%;
	text-align: center;
	color: #555555;
}

.course-list {
	display: flex;
	justify-content: space-between; 
	flex-wrap: wrap;
}

.course-card {
	background-color:#FFFFFF;
	padding: 24px 24px 35px 24px;
	width: 32%;
	border-radius: 6px;
	margin-bottom: 24px;
}

.course-img{
	display: block;
	margin-bottom: 24px;
}

.score-list {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	border-bottom: 0.5px solid #E9E8E8;
	padding-bottom: 24px;
	margin-bottom: 24px;
	transform: rotate(-0.18deg);
}

.score-list img {
	max-width: 32px; 
}

.score-list p {
	font-size: 16px;
	line-height: 155%;
	color: #555555;
}

.card-title {
	display: flex;
	justify-content: space-between; 
	margin-bottom: 18px;
}

.card-title h4 {
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: #333333;
}

.card-title p {
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: #086CF9;
}

.card-descr p{
	font-size: 14px;
	line-height: 155%;
	color: #555555;
}

.course-btn {
	display: inline-block;
	margin-top: 24px;
	background: #086CF9;
	border-radius: 6px;
	padding: 16px 32px;
	margin-left: 50%;
	transform: translateX(-50%); 
	align-items: center; 
}

.course-btn a {
	line-height: 24px;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 16px;
}



















@media (max-width: 1179px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 1145px) {
	.about-content {
		flex-direction: column-reverse;
	}

	.about-img img {
		margin-bottom: 30px;
	}
}

@media (max-width: 1100px) {
	.header-row {
		justify-content: space-between; 
	}

	.header-nav {
		margin-left: 30px;
	}

	.header-nav li:not(:last-child) {
		margin-right: 40px;
	}

	.header-login {
		margin-left: 30px;
	}

	.service-list {
		justify-content: space-around;  
	}

	.service-item {
		width: 40%;
		margin: 10px;
	}
}


@media (max-width: 1025px) {

	.course-list {
		justify-content: space-around; 
	}


	.course-card {
		width: 45%;
	}
}


@media (max-width: 899px) {


	.about-header h2 {
		font-size: 40px;
	}

	.about-descr {
		font-size: 14px;
	}

	.about-text {
		font-size: 16px;
	}

	.header-nav {
		display: none;
	}

	.header-login {
		display: none;
	}
}

@media (max-width: 768px) {

	.course-card {
		width: 56%;
	}

	.score-list p {
		font-size: 14px;
	}

	.score-list img {
		max-width: 28px; 
	}

}




@media(max-width: 575px) {

	.about-header h2 {
		font-size: 40px;
		line-height: 40px;
	}

	.hero {
		padding-top: 70px;
	}

	.hero-title {
		font-size: 40px; 
		line-height: 55px;
	}

	.service {
		padding-top: 20px;
	}	

	.service-header h2 {
		font-size: 40px; 
	}

	.service-item {
		width: 70%;
	}

	.course-header h2 {
		font-size: 40px; 
		line-height: 40px;
	}

	.course-header p {
		font-size: 14px;
	}

	.course-card {
		width: 85%;
	}

	.card-title h4 {
		font-size: 20px;
	}

	.card-title p {
		font-size: 20px;
	}

	.course-btn {
		padding: 12px;
	}

	.course-btn a {
		font-size: 14px;
	}
}

@media (max-width: 381px) {


	.hero-title {
		font-size: 30px; 
		line-height: 50px;
	}

	.hero-descr {
		font-size: 14px;
	}

	.hero-about {
		margin-left: 15px;
	}

	.hero-list {
		margin: 5px;
		margin-bottom: 15px
	}

	.hero-about h4 {
		font-size: 30px;
		margin-bottom: 4px;
	}

	.hero-about a {
		font-size: 12px;
	}

	.hero-column {
		padding: 30px 20px;
	}

	.service-header h2{
		line-height: 45px;
	}

	.service-header p {
		font-size: 14px;
	}

	.service-item {
		width: 80%;
	}

	.course-header p {
		font-size: 14px;
	}

	.course-card {
		width: 100%;
	}

	.score-list img {
		max-width: 24px; 
	}

	.course-btn {
		padding: 10px;
	}

	.course-btn a {
		font-size: 12px;
	}
}


